NODE_ENV=development
PORT=4000
APP_NAME=Restaurant QR Menu API
APP_LOCALE=tr-TR
APP_TIMEZONE=Europe/Istanbul
APP_CURRENCY=TRY

DATABASE_URL=postgresql://restaurant_user:restaurant_pass@localhost:5432/restaurant_qr?schema=public
REDIS_URL=redis://localhost:6379

JWT_SECRET=degistir_beni_cok_guclu_jwt_secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:3000
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=120
